/*BARRA DE NAVEGACION*/
@mixin anclas {
	text-decoration: none;
	color: $blanco;
	font-size: 20px;
}





.navColor {
	background-color: $principal;
}

.botonNavColor {
	background-color: $blanco;
}

.tituloNav {
	color: $blanco;
	font-size: 2.3rem;
}

nav {
	li {
		a {
			@include anclas;
		}
	}
}