/*BASE*/

body {
    font-size: 62.5%;
    font-family: $fuentePrincipal;
    background-color: $colorBody1;
}

.fuenteAlternativa {
    font-family: $fuenteAlternativa;
}

.body2 {
    background-color: $colorBody2;
}