/*WHATSAPP*/

.headerWhatsapp {
	background-color: $colorWhatsapp;
	i {
		color: $textoBlanco;
		font-size: 1.2rem;
		text-decoration: none;
	}
}
a {
	color: $textoBlanco;
	font-size: 1.2rem;
	text-decoration: none;
}
p {
	color: $textoBlanco;
	font-size: 1.2rem;
	text-decoration: none;
}
